{% load i18n %}{% autoescape off %}
{% blocktranslate %}Está recibiendo este correo electrónico porque solicitó un restablecimiento de contraseña para su cuenta de usuario en {{ site_name }}.{% endblocktranslate %}

{% translate "Vaya a la siguiente página y elija una nueva contraseña.:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirmacion' uidb64=uid token=token %}
{% endblock %}
{% translate 'Tu nombre de usuario, en caso de que lo hayas olvidado:' %} {{ user.get_username }}

{% translate "¡Gracias por usar nuestro sitio!" %}

{% blocktranslate %}El {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}