.card{
    height: 150px;
    width: 100%;
}

.X{
    font-size: 12px;
    padding-top: 2px;
    height: 25px;
}

.CyP{
    margin-bottom: 10px;
}


@media only screen and (max-width: 450px) {
    .card{
        padding-bottom: 200px;
    }
}